In [1]:
macro myassert(ex, msgs...)
    msg = (isempty(msgs) ? ex : msgs[1]) |> string
    :($ex ? nothing : AssertionError($msg))
    end

@myassert (macro with 1 method)

In [18]:
macro mytime(ex)
    return quote
        t0 = time_ns()
        val = $ex
        println("t0=", t0, ", val =", val)
        t1 = time_ns()
        println("elapsed time: ", (t1-t0)/1e9, " seconds")
        val
    end
end

@mytime (macro with 1 method)

In [30]:
macro mm(ex)
    return quote
        t = 1
        println("표현식 평가 이전 t = ", t)
        val = $ex
        println("표현식 평가 이후 t = ", t, ", val = ", val)
        return val
    end
end

@mm (macro with 1 method)

In [31]:
@mm t=100

표현식 평가 이전 t = 1
표현식 평가 이후 t = 100, val = 100

100

In [41]:
macro nn(ex)
    return quote
        t = 1
        println("표현식 평가 이전 t = ", t)
        val = $(esc(ex))
        println("표현식 평가 이후 t = ", t, ", val = ", val)
        val
    end
end

@nn (macro with 1 method)

In [42]:
@nn t=100

표현식 평가 이전 t = 1
표현식 평가 이후 t = 1, val = 100

100

In [14]:
macro time(ex)
    return quote
        local t0 = time_ns()
        local val = $ex
        local t1 = time_ns()
        println("elapsed time: ", (t1-t0)/1e9, " seconds")
        val
    end
end

@time (macro with 1 method)

In [16]:
@time t0=(1:100 |> sum)

elapsed time: 3770.005013329 seconds

5050